.bg-light{
  background:rgba(255,255,255,0.5)!important;
  width:100vw;
}

body{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

#map{
  height:50vh;
  width:100vw;
}

#pic{

}

#pic img{
  margin:10px;
  height:25vh;
  cursor: pointer;
  text-align: center;
}

li{
  text-decoration: none;
  display: none;
}
